body{
    background-color: #000;
}

.card_main{
    position: relative;
    width: 80vw;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.card_main .card{
    flex-basis: 2;
    position: relative; 
    display: flex; 
    justify-content: center;
    align-items: center;
      width: 25rem; 
    height: 35rem;
    background: rgb(255, 237, 211);
    border-radius: 30px;
      transition: .4s ease-in-out; 
    cursor: pointer;
    overflow: hidden;

}

 .card_main .card h1{
    margin: 0;
    position: absolute;
    top: 55%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-family: 'Arial';
    font-style: normal;
    font-weight: 900;
    font-size: 4.6rem;
    line-height: 147px;
    text-align: center;
    letter-spacing: 0.065em;
    text-transform: uppercase;
    color: #cf760283;
    opacity: 0.38;
    transition: .4s ease-in-out;
} 

.card_main .card .cardDesign{
    width: 27.5rem;
    height: 27.5rem;
    background: linear-gradient(227.34deg, #F28F08 32.19%, #BD5F36 85.94%);
    position: absolute;
    border-radius: 50%;
    top: -31%;
    right: -2.5rem;
    z-index: 1;
    transition: .4s ease-in-out;

}

 .card_main .card .logo{
    position: absolute;
    width: 3rem;
    top: 2rem;
    right: 2rem;
    z-index: 1;
    transition: .3s ease-in-out;
    transition-delay: .05s;
} 

.card_main .card p{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    top: .6rem;
     left: 13.37%;
    right: 13.37%;
    top: 5.42%; 
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 130%;
    text-align: center;
    text-transform: uppercase;
    color: #633800;
    transform: translateY(1rem);
    z-index: 1;
    transition: all .3s ease-in-out;
}

.card_main .card h3{
    position: absolute;
    left: 13.37%;
    right: 13.37%;
    top: 12.42%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 130%;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    transform: translateY(1rem);
    z-index: 1;
    transition: .3s ease-in-out;
}

.card_main .card .shoe{
    width: 25rem;
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%) rotate(-14.08deg);
    filter: drop-shadow(2px 2px 20px #6338004f );
    z-index: 2;
    transition: .3s ease-in-out;
     /* visibility: hidden;  */
}

.card_main .card .details{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transform: translateY(9rem) scale(0.0001);
    transition: .3s ease-in-out;
    transition-delay: .02s ;
    z-index: 2;
    /* border: 1px solid #000; */
}

.card_main .card .details .price{
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 32px;
    text-align: center;
    letter-spacing: 0.065em;
    text-transform: uppercase;
    color: #221800;
    transition: .3s ease-in-out;
    transition-delay: .025s ;
    /* border: 1px solid #000; */
}

.card_main .card .details .colors{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    transition: .3s ease-in-out;
    transition-delay: .03s ;
    /* border: 1px solid #000; */
}

.card_main .card .details .colors div:nth-of-type(1){
    height: 21.907316207885742px;
    width: 21.880359649658203px;
    border-radius: 50rem;
    background: #393647;
    box-shadow: 3px 4px 7px rgba(0, 0, 0, 0.18);
    margin-right: 1rem;
    margin-top: 1rem;
    cursor: pointer;
    transition: .2s ease-in-out;
    
}
.card_main .card .details .colors div:nth-of-type(2){
    height: 21.907316207885742px;
    width: 21.880359649658203px;
    border-radius: 50rem;
    background: #FFFFFF;
    box-shadow: 3px 4px 7px rgba(0, 0, 0, 0.18);
    margin-right: 1rem;
    margin-top: 1rem;
    cursor: pointer;
    transition: .2s ease-in-out;
    
}
.card_main .card .details .colors div:nth-of-type(3){
    height: 21.907316207885742px;
    width: 21.880359649658203px;
    border-radius: 50rem;
    background: #1E1E1E;
    box-shadow: 3px 4px 7px rgba(0, 0, 0, 0.18);
    margin-top: 1rem;
    cursor: pointer;
    transition: .2s ease-in-out;
    
}

.card_main .card .details .button{
    display: flex;
    justify-content: space-evenly;
    margin-top: 2rem;
    transition: .3s ease-in-out;
    transition-delay: .035s ;
}

.card_main .card .details .button button{
    height: 54.36px;
    width: 147.49px;
    background: #fff;
    box-shadow: 2px 4px 14px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    border: none;

    font-family: 'Arial';
    font-style: normal;
    font-weight: 800;
    font-size: .9rem;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.065em;
    text-transform: uppercase;
    color: #cf7702;
}

.card_main .card .details .button button:nth-of-type(1){
    margin-right: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: .2s ease-in-out;
}

.card_main .card .details .button button:nth-of-type(1)::after{
    content: '';
    position: absolute;
    width: 99%;
    height: 99%;
    border: 1.5px solid #fff;
    border-radius: 22px;
    transition: .2s ease-in-out;
}
.card_main  .card .details .button button:nth-of-type(2){
    background: none;
    outline: 2px solid #fff;
    background: none;
    color: #fff;
    border: none;
    padding: 0;
    cursor: pointer;
    transition: 0.3s ;
    z-index: 1;
}

.card_main .card .details .button button:nth-of-type(2):focus ,
.card_main .card .details .button button:nth-of-type(2):active,
.card_main .card .details .button button:nth-of-type(1):active,
.card_main .card .details .button button:nth-of-type(1):focus
{
    border: none;
    outline: none;
}
.card_main .card .details .button button:nth-of-type(2):active{
    border: 2px solid #fff;
}
.card_main .card .details .button button:nth-of-type(2):hover{
    box-shadow: 1px 1px 20px #fff;
}

.card_main .card .details .button button:nth-of-type(1):hover{
    transform: translate(-.5rem, -.5rem);
    cursor: pointer;
}

.card_main .card .details .button button:nth-of-type(1):hover::after{
    transform: translate(.7rem, .7rem);
}

.card_main .card .details .button button:nth-of-type(1):active{
    transform: initial;
    
}

.card_main .card .details .button button:nth-of-type(1):active::after{
    transform: initial;

}

.card_main .card:hover{
    transform: scale(1.2);
}

.card_main .card:hover .cardDesign{
    /* width: 70rem;
    height: 70rem; */
    transform: scale(200%) translateY(7rem);
    transform-origin: center;

}

.card_main .card:hover p{
    /* transform: scale(0.001); */
    background: rgb(245, 203, 19);
    filter: blur(5px);
    color: #000;
    width: fit-content;
    height: 3rem;
    width: 3rem;
    font-size:small ;
    border-radius: 50%;
    text-align: center;
    transform: translate(-10rem);
}

.card_main .card:hover h3{
/* visibility: hidden; */
/* display: none; */
transform: translateY(-1.5rem);
}

/* .card:hover .logo{
width: 3.5rem;
} */

.card_main .card:hover .shoe{
width: 20rem;
top: 15rem;
filter: drop-shadow(2px 2px 20px  rgba(122, 57, 0, 0.738));
}

.card_main .card:hover .shoe{
/* transform-origin: right; */
transform: translate(-50%, -50%) rotate(5.08deg) scale(1.1) ;

}

.card_main .card:hover .details{
visibility: visible;
transform: translateY(9rem);
}

.card_main .card .details .colors div:hover{
transform: scale(1.5);
animation: myAnim .5s ease-in-out 0s infinite alternate forwards;
}
@keyframes myAnim {
0% {
    transform: scale(1);
}

100% {
    transform: scale(1.5);
}
}

